# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
.venv/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Quarto
.quarto/
*_files/

# TeX
*.aux
*.log
*.out
*.synctex.gz

# Segredos — NUNCA versionar
.env
